@model ItemPriceWatcher.Manager.Models.WatchItem.WatchItemCollectionViewModel
@{
    ViewData["Title"] = "Watch Items";
}

<div class="text-center">
    <h1 class="display-4">Watch Items</h1>
</div>
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#addItemModal">Add Watch Item</button>
<div id="addItemModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Watch Item</h4>
            </div>
            <form id="addWatchItemFrm" action="WatchItem/AddWatchItem" method="post">
                <div class="modal-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><label for="itemNameInput">Watch Item Name</label></td>
                                <td><input type="text" name="itemNameInput" id="itemName"></td>
                            </tr>
                            <tr>
                                <td><label for="urlInput">URL</label></td>
                                <td><input type="text" name="urlInput" id="urlInput"><br/></td>
                            </tr>
                            <tr>
                                <td><label for="itemPathInput">Item Path</label></td>
                                <td><input type="text" name="itemPathInput" id="itemPathInput"></td>
                            </tr>
                            <tr>
                                <td><label for="contactFirstNameInput">Contact First Name</label></td>
                                <td><input type="text" name="contactFirstNameInput" id="contactFirstNameInput"></td>
                            </tr>
                            <tr>
                                <td><label for="contactLastNameInput">Contact Last Name</label></td>
                                <td><input type="text" name="contactLastNameInput" id="contactLastNameInput"></td>
                            </tr>
                            <tr>
                                <td><label for="contactEmailInput">Email</label></td>
                                <td><input type="email" name="contactEmailInput" id="contactEmailInput"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default" name="submitWatchItem" id="submitWatchItem">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<but class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Item Name</th>
                <th>URL</th>
                <th>Path</th>
                <th>Contact Name</th>
                <th>Contact Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.WatchItems.Any())
            {
                @foreach (var watchItem in Model.WatchItems)
                {
                    <tr>
                        <td>@watchItem.WatchItemName</td>
                        <td>@watchItem.URL</td>
                        <td>@watchItem.ItemPath</td>
                        <td>@watchItem.ContactFirstName @watchItem.ContactLastName</td>
                        <td>@watchItem.ContactEmail</td>
                        <td><button class="btn">Delete</button></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</button>