@model ItemPriceWatcher.Manager.Models.WatchItem.WatchItemCollectionViewModel
@{
    ViewData["Title"] = "Watch Items";
}

<div class="text-center">
    <h1 class="display-4">Watch Items</h1>
</div>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Item Name</th>
                <th>URL</th>
                <th>Path</th>
                <th>Contact Name</th>
                <th>Contact Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var watchItem in Model.WatchItems)
            {
                <tr>
                    <td>@watchItem.WatchItemName</td>
                    <td>@watchItem.URL</td>
                    <td>@watchItem.ItemPath</td>
                    <td>@watchItem.ContactFirstName @watchItem.ContactLastName</td>
                    <td>@watchItem.ContactEmail</td>
                    <td><button class="btn">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>